/* Thin */
@font-face {
    font-family: "Alexandria";
    src: url("static/Alexandria-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* ExtraLight */
@font-face {
    font-family: "Alexandria";
    src: url("static/Alexandria-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Light */
@font-face {
    font-family: "Alexandria";
    src: url("static/Alexandria-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Regular */
@font-face {
    font-family: "Alexandria";
    src: url("static/Alexandria-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: "Alexandria";
    src: url("static/Alexandria-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold */
@font-face {
    font-family: "Alexandria";
    src: url("static/Alexandria-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: "Alexandria";
    src: url("static/Alexandria-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ExtraBold */
@font-face {
    font-family: "Alexandria";
    src: url("static/Alexandria-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Black */
@font-face {
    font-family: "Alexandria";
    src: url("static/Alexandria-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}